body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.robin-img {
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
}

.container {
    max-width: 1330px !important;
    margin: 20px auto;
    border: 1px solid tomato;
}


.row {
    display: flex;
    justify-content: space-between;
}

.row .col {
    flex: 0 1 100%;
}


@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .row div {
        border: 5px solid pink;
    }

    h1 {
        font-size: 1rem;
    }
}

@media (min-width: 769px) {
    h1 {
        font-size: 2rem;
    }
}


/* 1 a 12 */

.col-1 {
    flex-basis: 8.33%;
    background-color: #000000;
}

.col-2 {
    flex-basis: 16.6%;
    background-color: red;
}

.col-3 {
    flex-basis: 25%;
    background-color: #000000;
}

.col-4 {
    flex-basis: 33.33%;
    background-color: red;
}

.col-5 {
    flex-basis: 41.6%;
    background-color: #000000;
}

.col-6 {
    flex-basis: 50%;
    background-color: red;
}

.col-7 {
    flex-basis: 58.3%;
    background-color: #000000;
}

.col-8 {
    flex-basis: 66.6%;
    background-color: red;
}

.col-9 {
    flex-basis: 75%;
    background-color: #000000;
}

.col-10 {
    flex-basis: 83.3%;
    background-color: red;
}

.col-11 {
    flex-basis: 91.6%;
    background-color: #000000;
}

.col-12 {
    flex-basis: 100%;
    background-color: red;
}



/*netshoes*/

.roupas{
    max-width: 100%;
height: auto;
position: relative;
left: 105px;
top: 91px;
}

.botas{
    max-width: 100%;
    height: auto;
    position: relative;
    left: 105px;
    top: 91px;
}

.acessorios {
    max-width: 100%;
    height: auto;
    position: relative;
    left: 105px;
    top: 91px;
}

.suplementos {
    max-width: 100%;
    height: auto;
    position: relative;
    left: 286px;
    top: 186px;
}

/*Estilo do Menu*/
#main ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

#main ul li {
    list-style: none;
    font-size: 0.9rem; /*14px*/
    text-transform: uppercase;
    position: relative;
}

#main ul li a {
    text-decoration: none;
    color: rgb(27,27,27);
    transition: all 1s;
    padding: 20px 10px;
    display: block;
}

#main ul li:hover a, #main ul li:hover {
    color: white;
    background-color: darkslategray;
}

#main ul li ul.sub-menu {
    display: none;
    position: absolute;
    bottom: -100%;
    min-width: max-content;
}

#main ul li:hover ul.sub-menu{
    display: block;
    background-color: darkslategray;
}

#main ul li ul.sub-menu a {
    color: white;
}